# Stores private info
**/.env
**/.flaskenv
detour-ai-firebase-adminsdk-r95zu-4b4283dd5d.json
/plated*

# Alex's IDE files
.idea/

# This file is created automatically by Mac
.DS_Store

# This file created by python when it runs, should not be committed
**/__pycache__

# virtualenv
.venv

# not needed for deployment
/data
/experiments